.wp__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #f8f9fc;
  padding: 7rem 0;
  padding-bottom: 9rem;
}

.wp__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.wp__cards {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
}
.wp__cards__div {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
}

.wp__info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 35rem;
}

.wp__info h2 {
  font-size: 35px;
  width: 60%;
  color: #00093a;
}

.wp__info p {
  color: #00093a;
  font-size: 20px;
  font-weight: 300;
  width: 90%;
}

.wp__text__p {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.wp__more {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  cursor: pointer;
}

.wp__more p {
  font-size: 17px;
  color: #404e9d;
  font-weight: 500;
}

.wp__more hr {
  width: 30%;
  border-top: 1px dashed #404e9d;
}

.wp__card {
  background-color: #fff;
  border: 1px solid #ecedf5;
  border-radius: 1rem;
  /* padding-top: 5rem; */
  /* padding-bottom: 10rem; */
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 35rem;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.wp__card img {
  width: 5rem;
}

.wp__card h3 {
  font-size: 25px;
  width: 60%;
  color: #00093a;
}

.wp__card p {
  color: #00093a;
  font-size: 20px;
  font-weight: 300;
}

.wp__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}

@media screen and (min-width: 1400px) {
}

@media screen and (max-width: 1400px) {
  .wp__info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 40rem;
  }
  .wp__card {
    background-color: #fff;
    border: 1px solid #ecedf5;
    border-radius: 1rem;
    padding-top: 5rem;
    /* padding-bottom: 10rem; */
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 40rem;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  }
}

@media screen and (max-width: 1200px) {
  .wp__info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 45rem;
  }
  .wp__card {
    background-color: #fff;
    border: 1px solid #ecedf5;
    border-radius: 1rem;
    padding-top: 5rem;
    /* padding-bottom: 10rem; */
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 45rem;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  }
  .wp__more hr {
    width: 35%;
    border-top: 1px dashed #404e9d;
  }
}

@media screen and (max-width: 992px) {
  .wp__more hr {
    width: 40%;
    border-top: 1px dashed #404e9d;
  }
}

@media screen and (max-width: 769px) {
  .wp__info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 30rem;
  }
  .wp__cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0rem;
  }
  .wp__card {
    background-color: #fff;
    border: 1px solid #ecedf5;
    border-radius: 1rem;
    padding-top: 1rem !important;
    /* padding-bottom: 10rem; */
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 40rem;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  }
  .wp__more hr {
    width: 16%;
    border-top: 1px dashed #404e9d;
  }
}

@media screen and (max-width: 576px) {
  .wp__cards__div {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
  }
  .wp__more hr {
    width: 22%;
    border-top: 1px dashed #404e9d;
  }
}

@media screen and (max-width: 476px) {
  .wp__info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 40rem;
  }
  .wp__more hr {
    width: 30%;
    border-top: 1px dashed #404e9d;
  }
}
